<%= provide( :title, 'Random Movie') %>

<h1>Random Movie Generator</h1>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= form_for(Movie.new) do |f| %>
            	<%= f.label :title %>
            	<%= f.text_field :title, class: 'form-control' %>
            	<%= f.label :genre %>
            	<%= select_tag(:genre, options_for_select([['Action', 1], ['Comedy', 2], ['Romance', 3], ['Horror', 4], ['Adventure', 5], ['Drama', 6]])) %>
             	<%= f.submit "Generate Random Movie", class: "btn btn-primary" %>
     <% end %>
		</div>
	</div>
</div>