<% provide(:title, @movie.title) %>

<div class="container">
  <div class="sidebar-left">
    <h2> <%= @movie.title %> </h2>
    <h3> <%= @movie.genre %> </h3>
    <h3> Rating: <%= @movie.rating %> </h3>
    <h3> Released in <%= @movie.release_year %> </h3>
    <h4> <%= @summary %> </h4>
    <%= render 'like_form' if logged_in? %>


    <h2> <!--<%= @movie.attributes %> --> </h2>    
  </div>

  <img class="image-right" src=""/>

  <div class="float-clear"></div>
  <hr/>

<table id="movieTable" class="display" cellspacing="0" width="100%">
<thead>
  <tr>
    <th>Source Type</th>
    <th>Source Name</th>
    <th>Web Links</th>
  </tr>
</thead>

<tbody>
</tbody>      
</table>
</div>
</div>


    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 

    <!-- datatables --> 
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script> 
    
    <!-- custom local javascript -->
    <script>
      var id;
      var url = "";
      var base_url = "http://api-public.guidebox.com/v1.43/US/rKaihTUA2eO9IoFec4f2jvFrKwdJxxhq";
      var search_url = "/search/movie/title/"; //add title name to end
      var source_url = "/movie/"; //add id to end
      var poster_suffix = "/images/posters"; // add to end of source_url, but id must be in between the two parts of the url

      $(document).ready(function() 
      {
          $('#movieTable').dataTable( {
            "searching": false,
              "paging":   false,
              "ordering": true,
              "info":     false
          } );
          $('.image-right').hide();
          ajaxQueue(0); 
      } );

      function ajaxQueue(step){
        switch(step){
          
          //get sources for the movie
          case 1:
            url = base_url + source_url + id;
            //alert(id);
            $.getJSON( url)
              .done(function( json ){
                //For free on the net
                sources = json.free_web_sources;
                for(var i = 0; i < sources.length; i++){
                  link = sources[i].link;
                  link = link.replace("\\", "");
                  link = "<a href=" + link + ">" + sources[i].display_name + "</a>";
                  $('#movieTable').DataTable().row.add( ["Free", sources[i].display_name, link] ).draw();
                }

                //Pay for it on the net
                sources = json.purchase_web_sources;
                for(var i = 0; i < sources.length; i++){
                  link = sources[i].link;
                  link = link.replace("\\", "");
                  link = "<a href=" + link + ">" + sources[i].display_name + "</a>";
                  $('#movieTable').DataTable().row.add( ["Paid", sources[i].display_name, link] ).draw();
                }

                //Need a subscription to view (i.e. Amazon Prime)
                sources = json.subscription_web_sources;
                for(var i = 0; i < sources.length; i++){
                  link = sources[i].link;
                  link = link.replace("\\", "");
                  link = "<a href=" + link + ">" + sources[i].display_name + "</a>";
                  $('#movieTable').DataTable().row.add( ["Subscription", sources[i].display_name, link] ).draw();
                }

                //Offline/On Demand (i.e. Xfinity)
                sources = json.other_sources.tv_on_demand;
                for(var i = 0; i < sources.length; i++){
                  $('#movieTable').DataTable().row.add( ["On Demand", sources[i].display_name, ""] ).draw();
                }
                ajaxQueue(2);
              })
          break;

          case 2:
            url = base_url + source_url + id + poster_suffix;
            $.getJSON( url)
              .done(function( json ){
                //get poster
                poster_url = json.results.posters[0].medium.url;
                poster_url = poster_url.replace("\\", "");
                //alert(poster_url);

                $('.image-right').attr("src", poster_url);
                $('.image-right').hide();
                $('.image-right').delay(400).fadeIn(2000);
              })
          break;

          //get the id
          case 0:
            url = base_url + search_url + gon.title; 
            //alert(url);
            $.getJSON( url)
              .done(function( json ) {
                id = json.results[0].id;
                ajaxQueue(1);
              })            
          break;
        }
      }

    </script>