<% provide(:title, 'Movie') %>

<div class="container">
  <h2> <%= @movie.title %> </h2>
  <h2> <%= @movie.rating %> </h2>
  <h2> <%= @movie.release_year %> </h2>
  <h2> <%= @movie.genre %> </h2>
  <h2> <%= @movie.netflix_id %> </h2>
  <br/>
  <br/>
  <br/>
  <br/>
  <h2> <%= @movie.attributes %> </h2>

<table id="eeTable" class="display" cellspacing="0" width="100%">
<thead>
  <tr>
    <th>Source Type</th>
    <th>Source Name</th>
  </tr>
</thead>

<tbody>
</tbody>      
</table>
</div>
</div>
<div class="row">
  <div class="col-md-12">
    <button id="load" class="btn btn-info">Get Data</button>
    <button id="clear" class="btn btn-info">Clear Data</button>
  </div>      
</div>


    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 

    <!-- datatables --> 
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script> 
    
    <!-- custom local javascript -->
    <script>
      var id;
      var xmlhttp = new XMLHttpRequest();
      var xmlhttp2 = new XMLHttpRequest(); 
      var url = "";
      var base_url = "http://api-public.guidebox.com/v1.43/US/rKaihTUA2eO9IoFec4f2jvFrKwdJxxhq";
      var search_url = "/search/movie/title/"; //add title name to end
      var source_url = "/movie/"; //add id to end

      $(document).ready(function() 
      {
          $('#eeTable').dataTable( {
            "searching": false,
              "paging":   false,
              "ordering": true,
              "info":     false
          } );
      } );

      function ajaxQueue(step){
        switch(step){
          
          //get sources for the movie
          case 1:
            url = base_url + source_url + id;
            $.getJSON( url)
              .done(function( json ){
                //For free on the net
                sources = json.free_web_sources;
                for(var i = 0; i < sources.length; i++){
                  $('#eeTable').DataTable().row.add( ["Free", sources[i].display_name] ).draw();
                }

                //Pay for it on the net
                sources = json.purchase_web_sources;
                for(var i = 0; i < sources.length; i++){
                  $('#eeTable').DataTable().row.add( ["Paid", sources[i].display_name] ).draw();
                }

                //Need a subscription to view (i.e. Amazon Prime)
                sources = json.subscription_web_sources;
                for(var i = 0; i < sources.length; i++){
                  $('#eeTable').DataTable().row.add( ["Subscription", sources[i].display_name] ).draw();
                }

                //Offline/On Demand (i.e. Xfinity)
                sources = json.other_sources.tv_on_demand;
                for(var i = 0; i < sources.length; i++){
                  $('#eeTable').DataTable().row.add( ["On Demand", sources[i].display_name] ).draw();
                }
              })
          break;

          //get the id
          case 0:
            url = base_url + search_url + gon.title; 
            $.getJSON( url)
              .done(function( json ) {
                id = json.results[0].id;
                var title = json.results[0].title;
                $('#eeTable').DataTable().row.add( [id, title] ).draw();
                ajaxQueue(1);
              })            
            break;
        }
      }

      $('#load').click(function () 
      {  
           
        ajaxQueue(0);       
             
      });

      $('#clear').click(function () 
      {
        $('#eeTable').DataTable().clear().draw();
      });

    </script>