<% provide(:title, 'Movie') %>


<div class="container">
  <h2> <%= @movie.title %> </h2>
  <h2> <%= @movie.rating %> </h2>
  <h2> <%= @movie.release_year %> </h2>
  <h2> <%= @movie.genre %> </h2>
  <h2> <%= @movie.netflix_id %> </h2>
  <br/>
  <br/>
  <br/>
  <br/>
  <h2> <%= @movie.attributes %> </h2>
</div>