<header class="navbar navbar-fixed-top navbar-inverse">
  <%= link_to "NextFlix", "#", id: "logo" %>
   <nav>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to "Home", "/" %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Is It On?", isiton_path %></li>
      <li><%= link_to "Pick Random Movie", randomMovie_path %></li>
      <li><%= link_to "Sign Up", signup_path %></li>
    </ul>
  </nav>
</header>