<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "NextFlix", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "isiton", isiton_path %></li>
        <li><%= link_to "recommend", recommend_path %></li>
        <li><%= link_to "randomMovie", randomMovie_path %></li>
        <li><%= link_to "Sign Up", signup_path %></li>
      </ul>
    </nav>
  </div>
</header>