<header class="navbar navbar-fixed-top navbar-inverse">
  <%= link_to "NextFlix", "/", id: "logo" %>
   <nav>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to "Home", "/" %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Is It On?", isiton_path %></li>
      <li><%= link_to "Pick Random Movie", randomMovie_path %></li>
      <% if current_user %>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Log out", logout_path, method: "delete" %>
      <% else %>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>